/* fonts like the good ol' days. Also don't set white bg's on things users look at a lot */
body, .markdown-body, .bg-white {
  font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  background-color: #f6f6f6 !important;
}

.pagehead, .repohead.experiment-repo-nav {
  background-color: #f6f6f6
}

a, .btn-link {
  filter: brightness(90%);
}

/* widen search bar */
.jump-to-suggestions-path .jump-to-suggestion-name {
  max-width: 316px;
}

.header-search {
  width: 450px;
}

/* tooltip z-index */
.btn-link:hover {
  z-index: 98;
}

.tooltipped::after {
  z-index: 99;
}

/* fix for 2020 width widening */

.application-main  {
    max-width: 1048px;
    margin: 0 auto;
}
.new-discussion-timeline {
    padding: 0 !important;
}

/* 2020 stripe repo view */
div[role="grid"] > div:nth-of-type(odd) {
    background: #f6f6f6;
}

div[role="grid"] > div:nth-of-type(even) {
    background: #EEEEEE;
}

/* fix margin paddings */
div.pagehead.repohead.hx_repohead.readability-menu.bg-gray-light.pb-0.pt-3.border-0.mb-5 > div.d-flex.mb-3.px-3.px-md-4.px-lg-5,
div.pagehead.repohead.hx_repohead.readability-menu.bg-gray-light.pb-0.pt-3.border-0.mb-5 > nav {
    padding: 0 !important;
}

/* nav bg color */
div.pagehead.repohead.hx_repohead.readability-menu.bg-gray-light.pb-0.pt-3.border-0.mb-5,
div.pagehead.repohead.hx_repohead.readability-menu.bg-gray-light.pb-0.pt-3.border-0.mb-5 > nav {
    background-color: #f6f6f6 !important;
}

/* readme hacks */
#readme {
    background: #f6f6f6;
}
#readme > div.Box-body.px-5.pb-5 {
    padding: 1rem;
}