body, .channel_header, #footer, #footer_msgs, #client_body:not(.onboarding):before {
    background-color: #f6f6f6
}
ts-message.active:not(.standalone):not(.multi_delete_mode):not(.highlight):not(.new_reply), ts-message:hover:not(.standalone):not(.multi_delete_mode):not(.highlight):not(.new_reply) {
    background: #fff;
}

.p-channel_sidebar__channel_icon_prefix--comfy:not(.p-channel_sidebar__channel_icon_prefix--typing) {
	border-radius: 0;
}

.p-channel_sidebar__user_avatar img.c-avatar__image, .p-channel_sidebar__mpim_avatars img.c-avatar__image {
	display: none;
}

