.c-message_kit__background {
    background-color: #f6f6f6
}

ts-message.active:not(.standalone):not(.multi_delete_mode):not(.highlight):not(.new_reply), ts-message:hover:not(.standalone):not(.multi_delete_mode):not(.highlight):not(.new_reply) {
    background: #fff;
}

.p-channel_sidebar__user_avatar {
	display: none;
}

.p-bookmarks_bar_container {
	display:none;
}
